#hscp-banner { position: fixed; bottom: 0; right: 50%; background: #262626; border: solid 10px #fff; }
#hscp-banner-image { }
#hscp-banner-close { color: #fff; font-size: 24px; font-weight: bold; position: relative; top: 5px; right: 5px; }